.formula-editor {
    overflow: hidden;
    min-height: 200px;
    border: 1px solid #d0d3d6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    &__head {
        padding: 12px 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1;
        background: #f5f6f7;
    }

    /* 提示区 */
    &-info {
        border-top: 1px solid #1f232926;
        font-size: 14px;
        padding: 12px 16px;
    }
}

.formula-editor-nodeDesc {
    &__identifier {
        font-weight: 500;
    }

    &__functionParam {
        position: relative;
        padding: 1px 2px;
        color: #8f959e;

        &--selected {
            color: #1f2329;
        }

        &--selected:before {
            content: '';
            position: absolute;
            left: 2px; 
            top: 4px;
            width: calc(100% - 4px);
            height: calc(100% - 6px);
            background: #fcdf7e;
            border-radius: 2px;
        }
    }

    &__description {
        color: #646a73;
    }
}

.formula-editor-suggest {
    flex: 1;
    display: flex;
    border-top: 1px solid #1f232926;

    &__list {
        width: 200px;
        border-right: 1px solid #1f232926;
    }

    &__info {
        flex: 1;
        padding: 16px;
    }
}